<.header>
  New Value
  <:subtitle>Use this form to manage value records in your database.</:subtitle>
</.header>

<.value_form changeset={@changeset} action={~p"/values"} />

<.back navigate={~p"/values"}>Back to values</.back>
