<.header>
  Value <%= @value.id %>
  <:subtitle>This is a value record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/values/#{@value}/edit"}>
      <.button>Edit value</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Currency ID"><%= @value.currency_id %></:item>
  <:item title="Record date"><%= @value.record_date %></:item>
  <:item title="Record value"><%= @value.record_value %></:item>
</.list>

<.back navigate={~p"/values"}>Back to values</.back>
